
@{
    ViewBag.Title = "CreateFile";
    Layout = "~/_Layout.cshtml";
}

<h2>CreateFile</h2>

<form name="myForm" action="/Fil/CreateFile/" method="post" enctype="multipart/form-data">
    Fil navn: <br />
    <input type="text" name="fileName" />
    <input type="submit" value="Opret fil"/>
    <br/>
    @ViewBag.MSG
</form>